// ################### Comment
.contents {
    .comment_container {
        .comment {
            align-items: center;
            gap: 10px;
            // 작성자 프로필 사진
            img {
                max-width: 30px;
            }
            // 작성자명
            .nick_name {
                margin: {
                    right: 0;
                }
            }
            // 댓글 옆 아이콘
            .comment__modal {
                position: relative;
                display: block;
                width: 26px;
                height: 20px;
                background: {
                    image: url('../images/background02.png');
                    position: -111px -11px;
                    repeat: no-repeat;
                }
            }
        }
    }
}

.modal {
    transition: .4s;
    
    &.show {
        display: block;
    }
}

@media screen and (min-width: 1001px) {
    .hidden_menu {
        .scroll_inner {
            display: none;
        }  
    }
}

@media all and (max-width: 1000px) {
    .side_box {
        display: none;
    }
}